<div class="banner landing-background-img">
  <div class="d-flex justify-content-between pl-5 pt-4">
    <div class="text-link">
      <%= link_to "Become a partner", "#" %>
    </div>
    <div class="d-flex justify-content-center pr-5">
      <div class="text-link pr-5">
        <%= link_to "Sign in", "#"%>
      </div>
      <div class="text-link">
        <%= link_to "Sign up", "#" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="cta-landing-box">
      <h1 class="hl-1 pb-4">
        <strong><em>Easily browse for readily available furniture in stores nearby</em></strong>
      </h1>
    </div>
  </div>
  <div class="text-center d-flex justify-content-center fixed-bottom">
    <div class="landing-discl-link">
      <%= link_to "Imprint", "#" %>
    </div>
    <div class="landing-discl-link">
      <%= link_to "Terms", "#" %>
    </div>
    <div class="landing-discl-link">
      <%= link_to "Privacy", "#" %>
    </div>
  </div>
</div>
